@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');
@import url('https://fonts.googleapis.com/css?family=Didact+Gothic');

body {
    margin: 60px auto;
	  width: 70%;
	  font-family:'Roboto Mono', 'Sans-Serif';
}
nav ul, footer ul {
    font-family:'Roboto Mono', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
	font-weight: 600;
	text-decoration: none;
    color: #06b987;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Didact Gothic', 'Sans-Serif';
    letter-spacing: 3px;
}
h2 {
    font-family: 'Didact Gothic', 'Sans-Serif';
    letter-spacing: 1px;
}
ul li {
    font-family: 'Roboto Mono', 'Sans-Serif';
}
.snapshot li {
    font-size: 1em;
    margin: 0 0 8px 0;
}
.snapshot {
  margin: 0 0 30px 0;
}
.img-text {
    display: flex;
    align-items: center;
    flex-direction: row;
}
#myface {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    margin: 10px 30px 10px 0;
    float: left;
}
@media screen and (max-width: 800px) {
  .img-text{
    align-items: baseline;
    flex-direction: column;
  }
  #myface {
    margin: 30px 0 0 0;
  }
}
.para {
    font-family:'Roboto Mono', 'Sans-Serif';
    font-size: 1em;
    line-height: 1.5em;
    color: #333;
}
.sub {
    font-family:'Roboto Mono', 'Sans-Serif';
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
.nav {
	font-weight: bold;
	color: #999;
}
.loc {
	color: #666;
}

.rule {
	margin: 50px 0 50px 0;
	color: #ddd;
	background-color: #ddd;
	border: #ddd;
	height: 1px;
}

footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
    padding: 0 0 0 20px;
}


.rainbow {
    /* Chrome, Safari, Opera */
   -webkit-animation: rainbow 5s infinite; 
   /* Internet Explorer */
   -ms-animation: rainbow 5s infinite;
   /* Standar Syntax */
   animation: rainbow 5s infinite; 
 }
 
 /* Chrome, Safari, Opera */
 @-webkit-keyframes rainbow{
   0%{color: orange;}	
   10%{color: purple;}	
     20%{color: red;}
   30%{color: CadetBlue;}
     40%{color: yellow;}
   50%{color: coral;}
     60%{color: green;}
   70%{color: cyan;}
   80%{color: DeepPink;}
   90%{color: DodgerBlue;}
     100%{color: orange;}
 }
 
 /* Internet Explorer */
 @-ms-keyframes rainbow{
    0%{color: orange;}	
   10%{color: purple;}	
     20%{color: red;}
   30%{color: CadetBlue;}
     40%{color: yellow;}
   50%{color: coral;}
     60%{color: green;}
   70%{color: cyan;}
   80%{color: DeepPink;}
   90%{color: DodgerBlue;}
     100%{color: orange;}
 }
 
 /* Standar Syntax */
 @keyframes rainbow{
     0%{color: orange;}	
   10%{color: purple;}	
     20%{color: red;}
   30%{color: CadetBlue;}
     40%{color: yellow;}
   50%{color: coral;}
     60%{color: green;}
   70%{color: cyan;}
   80%{color: DeepPink;}
   90%{color: DodgerBlue;}
     100%{color: orange;}
 }