@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');
@import url('https://fonts.googleapis.com/css?family=Didact+Gothic');

body {
    margin: 60px auto;
    width: 70%;
}
nav ul, footer ul {
    font-family:'Roboto Mono', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
	text-decoration: none;
	font-weight: bold;
    color: #13cf99;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Didact Gothic', 'Sans-Serif';
    letter-spacing: 3px;
}
h2 {
    font-family: 'Didact Gothic', 'Sans-Serif';
    letter-spacing: 1px;
}
ul li {
    font-family: 'Roboto Mono', 'Sans-Serif';
}
.snapshot li {
    font-size: 1em;
    margin: 0 0 8px 0;
}
.para {
    font-family:'Roboto Mono', 'Sans-Serif';
    font-size: 1em;
    line-height: 1.5em;
    color: #333;
}
.sub {
    font-family:'Roboto Mono', 'Sans-Serif';
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
    padding: 0 0 0 20px;
}
