<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-72803528-2"></script>
		<script>
		  window.dataLayer = window.dataLayer || [];
		  function gtag(){dataLayer.push(arguments);}
		  gtag('js', new Date());

		  gtag('config', 'UA-72803528-2');
		</script>

	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/">About</a></li>
	        	<li><a href="/classes/">Classes</a></li>
	        	<li><a href="http://anjalinambrath.myportfolio.com">Design</a></li>
        		<li><a href="/stuff/resume.pdf">CV</a></li>
    		</ul>
		</nav>
		<div class="container">
    		{{ content }}
		</div><!-- /.container -->
		<footer>
    		<ul>
        		<li><a href="mailto:anjali@mit.edu">email me!</a></li>
			</ul>
		</footer>
	</body>
</html>
