<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-LP1BDHGY8Y"></script>
		<meta name="description" content="Homepage of Anjali Nambrath.">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="google-site-verification" content="FrQ2lQapiXfkZO4HybHvDpVl7tghwZyHqtbv_ggvj3w" />
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());

			gtag('config', 'G-LP1BDHGY8Y');
		</script>
	</head>
	<body>
		<nav class='navbar'>
    		<ul>
				<li><a href="/" class='nav' >Home</a></li>
	        	<li><a href="/research/" class='nav'>Research</a></li>
				<li><a href="/teaching/" class='nav'>Teaching</a></li>
				<li><a href="/about/" class='nav'>About</a></li>
				<li><a href="/stuff/CV.pdf" target="_blank" class='nav'>CV</a></li>
    		</ul>
		</nav>
		<div class="container">
    		{{ content }}
		</div><!-- /.container -->
		<footer>
    		<ul>
        		<li><a href="mailto:nambrath@berkeley.edu" style="color:#999">email me!</a></li>
			</ul>
		</footer>
	</body>
</html>
<script src="/js/konami.js"></script>
<script>
	// to make it stop, do whatever you did to make it start. sorry but not sorry
	var easter_egg = new Konami(function() { 
		//  '.class1:not(.class2)'
		let iskonami = sessionStorage.getItem('konami');
		if (iskonami==='true') {
			sessionStorage.setItem('konami','false');
		} else {
			sessionStorage.setItem('konami','true');
		}
		var h_tags = document.querySelectorAll("h1, h2, a:not(.nav)");
		for(var i = 0; i<h_tags.length; i++){
			h_tags[i].classList.toggle('rainbow');
		}
	});
	const storedkonami = sessionStorage.getItem('konami');
	if (storedkonami==='true') {
		var h_tags = document.querySelectorAll("h1, h2, a:not(.nav)");
		for(var i = 0; i<h_tags.length; i++){
			h_tags[i].classList.toggle('rainbow');
		}
	}
</script>

